@model IEnumerable<RPGApplication.Models.Proficiency>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}




<section class="container-fluid">
    <div class="row py-5 mx-2">
        <div class="col-md-12">
            @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-dark my-3" })

            <table class="table table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.ProficiencyId)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            Editar
                        </th>
                        <th scope="col">
                            Detalhes
                        </th>
                        <th scope="col">
                            Excluir
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProficiencyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a href=@Url.Action("Edit", "Proficiencies", new { id = item.ProficiencyId })>
                                    <i class="fas fa-edit text-white font-19"></i>
                                </a>
                            </td>
                            <td>
                                <a href=@Url.Action("Details", "Proficiencies", new { id = item.ProficiencyId })>
                                    <i class="fas fa-search text-white font-19"></i>
                                </a>
                            </td>
                            <td>
                                <a href=@Url.Action("Delete", "Proficiencies", new { id = item.ProficiencyId })>
                                    <i class="fas fa-trash-alt text-white font-19"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>