@model IEnumerable<RPGApplication.Models.Weapon>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<button class="btn btn-dark my-3">
    @Html.ActionLink("Cadastrar", "Create")
</button>
<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RequiredLevel)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Critical)
            </th>
            <th scope="col">
                Editar
            </th>
            <th scope="col">
                Detalhes
            </th>
            <th scope="col">
                Excluir
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/Images/@item.Image" ) class="img-fluid table-img" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Damage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Critical)
                </td>
                <td>
                    <a href=@Url.Action("Edit", "Weapons", new { id = item.ItemId})>
                        <i class="fas fa-edit text-white font-19"></i>
                    </a>
                </td>
                <td>
                    <a href=@Url.Action("Details", "Weapons", new { id = item.ItemId})>
                        <i class="fas fa-search text-white font-19"></i>
                    </a>
                </td>
                <td>
                    <a href=@Url.Action("Delete", "Weapons", new { id = item.ItemId})>
                        <i class="fas fa-trash-alt text-white font-19"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
