@model RPGApplication.Models.Character

@{
    ViewBag.Title = "Index";
}



<section class="container">
    <div class="row py-5">
        <div class="col-md-12">
            <h2 class="text-center">Personagem</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6">
            <!--PERSONAGEM-->
            <div class="row">

                <div class="col-md-6">
                    <img src="~/Images/@Html.DisplayFor(model => model.Image)" class="img-fluid character-img" />
                </div>

                <div class="col-md-6">

                    <h3 class="text-center">
                        @Html.DisplayFor(model => model.Name)
                    </h3>

                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.Level)
                        </strong>
                        @Html.DisplayFor(model => model.Level)
                    </p>

                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.Experience)
                        </strong>
                        @Html.DisplayFor(model => model.Experience)
                    </p>

                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.RankingPoints)
                        </strong>
                        @Html.DisplayFor(model => model.RankingPoints)
                    </p>

                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.AttributePoints)
                        </strong>
                        @Html.DisplayFor(model => model.AttributePoints)
                    </p>

                </div>
            </div>
            <!--ATRBIUTOS-->
            <div>
                <hr />

                <h3>Atributos</h3>

                <p>
                    <img src="~/Images/Static/lifepoints.png" class="img-fluid profile-attributes-img" />
                    <strong>
                        @Html.DisplayNameFor(model => model.LifePoints)
                    </strong>
                    @Html.DisplayFor(model => model.LifePoints)
                </p>

            </div>

        </div>
        <div class="col-md-6">

            <h3>Mochila</h3>

            <img src="~/Images/Static/inventory.png" class="img-fluid" />

            <p>
                <strong>@Html.DisplayNameFor(model => model.Bag.slots)</strong>
                @Html.DisplayFor(model => model.Bag.slots)
            </p>

            <div class="row d-flex justify-content-center align-items-center">

                @foreach (var item in Model.Bag.ItemsInBag)
                {
                    <div class="col-md-4 item-box m-1">

                        <img src="~/Images/@item.Item.Image" class="table-img item-img" title="@item.Item.Description" />


                        <div class="item-description">

                            <h6 class="text-center py-2">@item.Item.Name</h6>

                            @if (item.Item.GetType() == typeof(RPGApplication.Models.Weapon))
                            {

                                RPGApplication.Models.Weapon weapon = (RPGApplication.Models.Weapon)item.Item;
                                <div>
                                    <strong>Dano:</strong>
                                    @weapon.Damage
                                </div>
                                <div>
                                    <strong>Crítico:</strong>
                                    @weapon.Critical
                                </div>
                            }
                            else
                            {
                                RPGApplication.Models.Armour armour = (RPGApplication.Models.Armour)item.Item;
                                <div>
                                    <strong>Defesa:</strong>
                                    @armour.Defense
                                </div>
                                <div>
                                    <strong>Evasão:</strong>
                                    @armour.Defense
                                </div>
                            }
                            <strong class="text-center item-rarity">@item.Item.ItemRarity.Name</strong>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12 my-5">
                    <p>
                        <img src="~/Images/Static/coin.png" class="img-fluid profile-attributes-img" />
                        <strong>
                            @Html.DisplayNameFor(model => model.Coins)
                        </strong>
                        @Html.DisplayFor(model => model.Coins)
                    </p>
                </div>
            </div>

        </div>

        <p>
            @*Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId }) |
                @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>
</section>