@model RPGApplication.Models.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LifePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LifePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankingPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankingPoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
