@model IEnumerable<RPGApplication.Models.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifePoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankingPoints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~Images/@item.Imagem" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LifePoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankingPoints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharacterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CharacterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CharacterId })
        </td>
    </tr>
}

</table>
