
@{
    ViewBag.Title = "Edit";
    RPGApplication.Models.User user = ViewBag.User;
}



@model RPGApplication.Models.User
@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{

    @Html.HiddenFor(u => u.UserId, new { @Value = user.UserId})

    <div class="form-group">
        @Html.Label("E-mail:")
        @Html.TextBoxFor(u => u.Email, new { @type = "email", @Value = user.Email, @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Login:")
        @Html.TextBoxFor(u => u.Login, new { @type = "text", @Value = user.Login, @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.Label("Nome:")
        @Html.TextBoxFor(u => u.Name, new { @type = "text", @Value = user.Name, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Sobrenome:")
        @Html.TextBoxFor(u => u.LastName, new { @type = "text", @Value = user.LastName, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Senha:")
        @Html.TextBoxFor(u => u.Password, new { @type = "password", @Value = user.Password, @class = "form-control", @readonly = "readonly" })
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

}


